body {
    overflow-x: hidden;
}

#wrapper {
    display: auto;
    width: 100%;
    height: 100vh;
}

#sidebar-wrapper {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    background-color: #832525;
}

.list-group-item {
    border: none;
}

.list-group-item:hover {
    background-color: #832525;
}

.active {
    background-color: #d82f2f;
    color: white;
}
