/* Estilos para la sección de Información de la Empresa */

body {
  font-family: Arial, sans-serif;
  background-color: #ea2300;
  color: #ddcbcb;
  margin: 0;
  padding: 0;
  background-image: url(https://img.freepik.com/fotos-premium/granja-cielo-azul-granero-al-fondo_693425-1405.jpg?w=826);
  background-size: cover;
}

.tab-content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tab-content h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  .tab-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tab-content li {
    margin-bottom: 20px;
  }
  
  .tab-content h3 {
    font-weight: bold;
    margin-top: 0;
    color: #666;
  }
  
  .tab-content p {
    margin-bottom: 10px;
  }
  
  .tab-content img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .tab-content ul li ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tab-content ul li ul li {
    margin-bottom: 10px;
  }

  .imagen-item img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.gallery {
  display: flex; /* Usa flexbox para alinear los elementos en una fila */
  overflow-x: auto; /* Permite el desplazamiento horizontal si hay muchas imágenes */
  white-space: nowrap; /* Evita que las imágenes se rompan en varias líneas */
}

 /* Estilo para las imágenes en la galería */
 .gallery img {
  max-width: 100%; /* Asegura que las imágenes no sean más grandes que el contenedor */
  height: auto; /* Mantiene la proporción original de las imágenes */
  margin-right: 100px; /* Espacio entre imágenes */
  
}

.accordion {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 15px;
  text-align: left;
  border: none;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: #0056b3;
}

.accordion-button:hover {
  background-color: #0056b3;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.accordion-collapse {
  transition: max-height 0.3s ease;
}

.accordion-item:last-child {
  border-bottom: none;
}
