<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar sesión</a>
    <div class="container">
        <h1 class="my-4"> Distribuidora La Hacienda S.A. </h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if tab == 'informacion' %}active{% endif %}" href="{{ url_for('home') }}">Información</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if tab == 'pedidos' %}active{% endif %}" href="{{ url_for('tab1') }}">Pedidos</a>
            </li>
        </ul>
        <div class="tab-content mt-4">
            {% if tab == 'informacion' %}
            <ul>
                <li>
                    <h3>Misión</h3>
                    <p>Consolidarnos como la mejor distribuidora de alimentos balanceados de la región, atendiendo le cada día, las diferentes diferentes necesidades de nuestros clientes, apoyándolos con atención y calidad en el servicio.</p>
                </li>
                <li>
                    <h3>Visión</h3>
                    <p>Ser el lider de la region en la distribución de alimentos balanceados para animales, mediante un mejoramiento continuo en servicio, asesoría e implementación de  nuevas tecnicas y recursos útiles para nuestros clientes en el manejo de sus negocios.</p>
                </li>
                <li>
                    <h3>Ubicación</h3>
                    <p>Sucursal Patulul (Central)</p>
                    <p>Sucursal San José (Patulul)</p>
                    <p>Sucursal Santa Lucia Cotzumalguapa</p>
                    <p>Sucursal La Gomera</p>
                    <p>Sucursal La Democracia</p>
                </li>
                <li>
                    <h3>Contactos</h3>
                    <p>Oficinas centrales: 78719036</p>
                    <p>Correo electrónico: <a href="mailto:distribuidoralahacienda@gmail.com">distribuidoralahacienda@gmail.com</a></p>
                    <p>Horarios de atención: Lunes a Sabado de 8:00 am a 12:30 pm, 2:30 pm a 6:00 pm</p>
                    <p> Domingo de 8:00 am a 12:30 pm</p>
                </li>
                <li>
                    <h3>Marcas con las que se Trabaja</h3>
                    <ul>
                        <li>
                            <img src="{{ url_for('static', filename='Imagenes/Purina-Logo.png') }}" alt="Productos Purina®">
                            <p>Para animales de granja.</p>
                        </li>
                    </ul>
                </li>
            </ul>
            {% elif tab == 'pedidos' %}
            <p>This is Pedidos content.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>