<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora La Hacienda, S.A. - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<style>
  body {
            font-family: Arial, sans-serif;
            background-image: url(https://img.freepik.com/fotos-premium/granja-cielo-azul-granero-al-fondo_693425-1405.jpg?w=826);
            background-size: cover;
        }

    
</style>
<body>
  <header class="text-center py-4">
   <center> <h1 class="text-2xl font-bold">Distribuidora La Hacienda S.A.</h1></center>
</header>
<nav class="navbar flex justify-center">
    <a href="{{ url_for('inicio') }}">INICIO</a>
    <a href="{{ url_for('mascotas') }}">PRODUCTOS</a>
    <a href="{{ url_for('sucursales') }}">SUCURSALES</a>
    <a href="{{ url_for('login') }}">INGRESAR</a>
</nav>

  
  
    <div class="login-container">
        <div class="login-box">
            <img src="{{ url_for('static', filename='Imagenes/lh.png') }}" alt="La Hacienda" class="logo">
            <h2>BIENVENIDO</h2>
            <form action="" method="post">
                <input type="text" name="usuario" placeholder="Usuario" required>
                <input type="password" name="contrasena" placeholder="Contraseña" required>
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
         <!-- Notificación de éxito o error -->
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
           {% for category, message in messages %}
               <div id="toast" class="toast-message toast-{{ category }}">{{ message }}</div>
           {% endfor %}
           <script>
               // Muestra el mensaje tipo "toast" por 3 segundos
               document.addEventListener("DOMContentLoaded", function() {
                   const toast = document.getElementById("toast");
                   toast.classList.add("show");
                   setTimeout(() => {
                       toast.classList.remove("show");
                   }, 3000);  // Oculta después de 3 segundos
               });
           </script>
         {% endif %}
       {% endwith %}
    

</body>
</html>